@model IEnumerable<CorretoraAbc.Presentation.Web.Models.HomeViewModel>

@{
    ViewData["Title"] = "Pagina Corretora Abc";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Grafico">Gráficos</a>
        </li>        
    </ul>

    <div class="text-center">
        <h4 class="display-4">Relação de Dados do Período</h4>
        <div class="table-responsive-md">
            <table class="table table-striped table-hover table-borderless align-middle">
                <thead>
                    <tr>
                        <th class="data">
                            Data
                        </th>
                        <th>
                            Fechamento
                        </th>
                        <th>
                            EMA 10
                        </th>
                        <th>
                            EMA 15
                        </th>
                        <th>
                            EMA 30
                        </th>
                        <th>
                            MACD
                        </th>
                        <th>
                            MACD Signal
                        </th>
                        <th>
                            MACD Histograma
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var model in Model)
                    {
                        <tr>
                            <td class="data">
                                @Html.Raw(model.Data.ToString("dd-MM-yyyy"))
                            </td>
                            <td>
                                @Html.Raw(model.FechamentoDoDia.ToString("#,##0.00"))
                            </td>
                            <td>
                                @Html.Raw(model.Ema9.ToString("#,##0.00"))
                            </td>
                            <td>
                                @Html.Raw(model.Ema12.ToString("#,##0.00"))
                            </td>
                            <td>
                                @Html.Raw(model.Ema26.ToString("#,##0.00"))
                            </td>
                            <td>
                                @Html.Raw(model.Macd.ToString("#,##0.00"))
                            </td>
                            <td>
                                @Html.Raw(model.MacdSignal.ToString("#,##0.00"))
                            </td>
                            <td>
                                @Html.Raw(model.MacdHistograma.ToString("#,##0.00"))
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    table, td {
        border-collapse: collapse;
    }

    thead {
        display: table;
        width: calc(100% - 17px);
    }

    tbody {
        display: block;
        max-height: 600px;
        overflow-y: scroll;
    }

    th, td {
        width: 12.5%;
        padding: 5px;
        word-break: break-all;
    }

    .data {
        width: 9%;
    }

    tr {
        display: table;
        width: 100%;
        box-sizing: border-box;
    }

    td {
        text-align: center;
        border-bottom: none;
        border-left: none;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
